{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
    <div class="form">
    <h2>Modifier une categorie</h2>
    {{ form_start(form) }}
        {{ form_row(form.name,{'attr':{'class':'form form-control'}}) }}
        <input type="submit" value="Ajouter" class="btn btn-primary btn-block">
    {{ form_end(form) }}
    </div>
    </div>
{% endblock %}